*{
    padding: 0;
    margin: 0;
    text-decoration:none;
    list-style:none;
    box-sizing:border;
    overflow-x: hidden;
    /* background-color: rgb(231, 225, 225); */
    /* background-position: fixed; */
}
.home{
    background-image: url('https://delaniimaya.netlify.com/css/h_img.jpg');
    background-repeat:no-repeat ;
    background-position: 99%;
    height: 90vh;
    text-align: center;
    margin-top: 20px;
    padding-top: 10%;
}
.home h1{
    padding-top: 45px;
    color: whitesmoke;
    font-size: 50px;
    font-family: 'Berkshire Swash';
}
h5{
    color: white;
    font-size: 20px;
    
}
.about{
    padding-top: 30px;
    height: 65vh;
    text-align: center;
    padding-bottom: 30px;
    padding-top:40px;
}
.about h2{
    color: black;
    font-size: 50pxpx;

    font-family: 'Berkshire Swash';
}
.services{
    background-image: url('https://delaniimaya.netlify.com/css/s_image.jpg');
    background-repeat: no-repeat ;
    background-size: 99% ;
    text-align: center;
    height: 65vh;
    color: whitesmoke;
}
.services h1{
    padding-top: 100px;
    font-family: 'Berkshire Swash';
}
.portfolio{
    padding-top: 100px;
}
.portfolio h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Berkshire Swash';
    
}
.what-we-do{
    text-align: center;
}
.what-we-do h1{
    font-family: 'Berkshire Swash';
    padding-bottom: 20px;
}
.contact{
    background-image: url('https://delaniimaya.netlify.com/css/c_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    color: white;
}
p{
    font-size: 20px;
}
footer{
    text-align: center;
    padding-top: 20px;
    padding-right: 20px;
}
.title{
    padding: 6px;
}
.contact h1{
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Berkshire Swash';
  }
  input[type=text],input[type=email],#comment{
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: 'Copse', serif;
  }
  

  /* .container {
    position: relative;
    width: 50%;
  } */
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .image:hover {
    opacity: 0.3;
  }
  
  .middle:hover  {
    opacity: 1;
  }
  
  .text {
    background-color: rgba(181, 240, 240, 0.979);
    color: rgb(41, 32, 32);
    font-size: 16px;
    padding: 10px 20px;
  }